.address__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 28.8px;
  color: @verydarkdesaturatedblue;
}

.address__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.address__mail:hover {
  color: @verydarkdesaturatedblue;
}

.address__mail:focus,
.address__mail:active {
  color: rgba(40,54,69,30%);
}

.address__phone,
.address__mail,
.contacts__company {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  color: @strongpink;
}
