@media (min-width: @desktop-width) {
 .forms__wrapper {
   width: 936px;
   margin: 0 auto;
  }
}

.traveling__forms {
  display: grid;
}

.traveling__forms {
  fieldset {
    border: none;
  }
}

.traveling-action__wrapper {
  display: flex;
  width: 280px;
  margin: 0 auto;

  .traveling-action {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: @verydarkdesaturatedblue;
    text-align: center;
  }

  span{
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .traveling-action__wrapper {
   width: 616px;
   margin: 0 auto;

   .traveling-action {
      padding: 100px 40px 82px 40px;
      font-size: 18px;
      line-height: 30px;
    }

    span {
      display: inline-block;
    }
  }
}

@media (min-width: @desktop-width) {
  .traveling-action__wrapper {
   width: 936px;
   grid-column-start: 1;
   grid-column-end: 3;

   .traveling-action {
     padding: 100px 90px 85px 90px;
    }
  }
}

// Contest-forms__information

.contest-forms__information-wrapper {
  width: 280px;
  margin: 0 auto;

  .username {
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color:@strongpink;
    text-transform: uppercase;
  }

  input {
    width: 238px;
    margin-top: 5px;
    padding: 12.5px 14px;
    padding-left: 20px;
    border: 2px solid @veryverylightgray;
    border-radius: 1px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: @verydarkdesaturatedblue;
  }

  input:hover {
    outline: none;
    border: 2px solid @verydarkdesaturatedblue;
    border-radius: 1px;
  }

  input:active,
  input:focus {
    outline: none;
    border: 2px solid @strongpink;
    border-radius: 1px;
  }

  ::placeholder {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: @verydarkdesaturatedblue;
  }
}

@media (min-width: @tablet-width) {
  .contest-forms__information-wrapper {
    width: 616px;
    margin: 0 auto;

    p {
      margin: 0;
    }

    .username {
      margin: 0;
      padding-right: 16px;
    }

    input {
      margin-top: 56px;
      padding-right: 255px;
    }

    .first-name-icon-user {
      padding-right: 295px;
    }
  }
}

@media (min-width: @desktop-width) {
  .traveling__forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contest-forms__information-wrapper {
    margin: 0;
    width: 440px;

    input {
      padding-right: 74px;
    }

    .first-name-icon-user {
      padding-right: 114px;
    }
  }
}

// Radio

.radio-control__application-on-the-phone {
  list-style: none;
}

.radio__wrapper {
  background-color: @verylightgray;
}

.contest-forms__radio {
  width: 280px;
  margin: 0 auto;
  margin-top: 40px;

  legend {
    padding-top: 35px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: @strongpink;
    text-transform: uppercase;
    text-align: center;
  }

  label {
    padding-left: 20px;
    user-select: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: @verydarkdesaturatedblue;
  }
}

.filter-option {
  padding-bottom: 40px;
}

.filter-option:last-child {
  padding-bottom: 10px;
}

.filter-option label {
  position: relative;
  display: block;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -45px;
  top: -5px;
  width: 35px;
  height: 35px;
  background-color: @white;
  border: 2px solid @veryverylightgray;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6.5px;
  left: -32px;
  width: 15px;
  height: 15px;
  background-color: @strongpink;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .radio__wrapper {
    background-color: @white;
  }

  .contest-forms__radio {
   width: 616px;
   margin: 0 auto;
   margin-top: 70px;

    fieldset {
     border: 2px solid @veryverylightgray;
    }

    legend {
      padding: 0;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }

    .radio__control {
      margin-left: 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .radio__wrapper {
    background-color: @white;
  }

  .contest-forms__radio {
    width: 431px;
    margin: 0;
    margin-top: 40px;
    margin-left: 40px;

    .filter-item__radio {
      border: 2px solid @veryverylightgray;
    }

    legend {
      padding: 0;
      padding-left: 20px;
      padding-right: 20px;
    }

    .filter-option {
      padding-top: 10px;
    }

    .filter-option:nth-child(1) {
      padding-top: 20px;
    }
  }
}

// Contacts-info

.contest-forms__contacts-info {
  width: 280px;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 20px;
  grid-row-start: 4;
  grid-row-end: 5;

  legend {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .contacts-info {
    padding: 0;
  }

  .contacts-info__phone {
    margin-bottom: 20px;
  }

  label {
    margin-left: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: @strongpink;
  }

  input {
    width: 238px;
    margin-top: 5px;
    padding: 12.5px 14px;
    padding-left: 20px;
    border: 2px solid @veryverylightgray;
    border-radius: 1px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: @verydarkdesaturatedblue;
  }

  input:hover {
    outline: none;
    border: 2px solid @verydarkdesaturatedblue;
    border-radius: 1px;
  }

  input:active,
  input:focus {
    outline: none;
    border: 2px solid @strongpink;
    border-radius: 1px;
  }

  ::placeholder {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: @verydarkdesaturatedblue;
  }
}

@media (min-width: @tablet-width) {
 .contest-forms__contacts-info {
    width: 616px;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 70px;

    fieldset {
      border: 2px solid @veryverylightgray;
      border-radius: 1px;
    }

    legend {
      clip: auto;
      width: auto;
      height: auto;
      margin: 0;

      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
      line-height: 30px;
      color: @strongpink;
      text-transform: uppercase;
      text-align: center;
    }

    .contacts-info__phone {
      display: flex;
      flex-direction: column;
      width: 496px;
      margin: 0 auto;
    }

    .phone-info {
      margin-top: 41px;
      padding-right: 234px;
    }

    .contacts-info__email {
      display: flex;
      flex-direction: column;
      width: 496px;
      margin: 0 auto;
      margin-bottom: 37px;
    }

    .email-info {
      padding-right: 234px;
    }

    label {
      padding-top: 18px;
      order: 1;
    }
  }
}

@media (min-width: @desktop-width) {
  .contest-forms__contacts-info {
    width: 936px;
    margin: 0 auto;
    margin-top: 69px;
    margin-bottom: 64px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    .contacts-info__wrapper {
      display: flex;
      padding-top: 44px;
    }

    .contacts-info__phone {
      width: 371px;
      margin: 0 auto;
      margin-bottom: 23px;
    }

    .phone-info {
      margin: 0;
      padding-right: 109px;
    }

    .contacts-info__email {
      width: 371px;
      margin-bottom: 23px;
    }

    .email-info {
      margin: 0;
      padding-right: 109px;
    }
  }
}


// Progress-checkbox

.contest-forms__progress-checkbox {
  background-color: @verylightgray;
  grid-row-start: 3;
  grid-row-end: 4;

  .progress-checkbox__wrapper {
    width: 280px;
    margin: 0 auto;

    fieldset {
      padding: 0;
    }
  }

  .control-filler {
    list-style: none;
  }

  legend {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: @strongpink;
    text-transform: uppercase;
    text-align: center;
  }

  label {
    padding-left: 22px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: @verydarkdesaturatedblue;
  }
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -40px;
  width: 35px;
  height: 35px;
  background-color: @white;
  border: 2px solid @veryverylightgray;
  border-radius: 1px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -30px;
  width: 22px;
  height: 16px;
  background-image: url("../img/forms/tick.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: @tablet-width) {
  .contest-forms__progress-checkbox {
    background-color: @white;
    grid-row-start: 5;
    grid-row-end: 6;

    .progress-checkbox__wrapper {
      width: 616px;
      margin: 0 auto;
    }

    fieldset {
      border: 2px solid @veryverylightgray;
      border-radius: 1px;
    }

    legend {
      padding-top: 0;
    }

    .control-filler {
      margin-left: 60px;
    }

    .filter-option {
      padding: 0;
      padding-top: 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contest-forms__progress-checkbox{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    .progress-checkbox__wrapper {
      width: 936px;
      margin: 0 auto;
    }

    legend {
      padding-left: 31px;
      padding-right: 31px;
    }

    .control-filler {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-left: 0;
      margin-bottom: 60px;
    }

    .filter-option {
      justify-self: left;
      padding-left: 67px;
    }

    .filter-plage {
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .filter-memento {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}

// Textarea

.contest-forms__textarea {
  display: flex;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 45px;

  fieldset {
    padding: 0;
  }

  legend {
    padding-top: 35px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: @strongpink;
    text-transform: uppercase;
    text-align: center;
  }

  textarea {
    width: 251px;
    padding: 14px 3px 29px 18px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: @verydarkdesaturatedblue;
    border: 2px solid @veryverylightgray;
    border-radius: 1px;
  }

  textarea:hover {
    outline: none;
    border: 2px solid @verydarkdesaturatedblue;
    border-radius: 1px;
  }

  textarea:active,
  textarea:focus {
    outline: none;
    border: 2px solid @strongpink;
    border-radius: 1px;
  }

  ::placeholder {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: @verydarkdesaturatedblue;
  }
}

@media (min-width: @tablet-width) {
  .contest-forms__textarea {
    width: 616px;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 10px;

    fieldset {
      width: 616px;
      margin-bottom: 69px;
      border: 2px solid @veryverylightgray;
      border-radius: 1px;
    }

    legend {
      padding: 0;
      padding-left: 20px;
      padding-right: 20px;
    }

    textarea {
      width: 496px;
      margin-top: 39px;
      margin-bottom: 45px;
    }

    p {
      text-align: center;
    }
  }
}

@media (min-width: @desktop-width) {
  .contest-forms__textarea {
    width: 936px;
    margin: 0 auto;
    margin-top: 69px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;

    fieldset {
      width: 936px;
    }

    legend {
      padding-left: 38px;
      padding-right: 38px;
    }

    textarea {
      width: 816px;
    }

    p {
      text-align: center;
    }
  }
}

// Button-form

.button-form__wrapper {
  width: 280px;
  margin: 0 auto;

  .button-form {
    padding: 12.5px 44.3px;
    background-color: @darkcyanlimegreen;
    border: 2px solid @darkcyanlimegreen;
    border-radius: 1px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: @white;
  }

  .button-form:hover {
    outline: none;
    background: @limegreen;
    border: 2px solid @limegreen;
    border-radius: 1px;
  }

  .button-form:focus,
  .button-form:active {
    outline: none;
    color: fade(@white, 70%);
  }

  .attention {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: @verydarkdesaturatedblue;

    b {
      color: @strongpink;
    }

    span {
      display: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .button-form__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 616px;
    margin: 0 auto;
    margin-bottom: 50px;

    .button-form {
      padding: 12.5px 54.3px;
    }
  }
}

@media (min-width: @desktop-width) {
  .button-form__wrapper {
    width: 936px;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}
