.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  .page-footer__heading {
    width: 145px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .page-footer__logo {
    text-decoration: none;
  }

  .footer-desktop {
    display: none;
  }

  .social__list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }

  .page-footer__copyright {
    display: flex;
    width: 145px;
    margin: 0 auto;
    margin-bottom: 51px;
  }

  .copyright__text {
    margin: 0;
    padding-top: 5px;
    padding-right: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: @verydarkdesaturatedblue;
  }

  @media (min-width: @tablet-width) {
    width: 620px;
    flex-direction: row;
    justify-content: space-between;

    .page-footer__heading {
      margin: 0;
      margin-top: 40px;
    }

    .page-footer__social {
      width: 220px;
    }

    .social__list {
      margin-top: 40px;
    }

    .page-footer__copyright {
      margin: 0;
      margin-top: 50px;
      margin-bottom: 35px;
    }

    .copyright__text {
      padding-left: 15px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 940px;

    .page-footer__heading {
      margin-top: 70px;
      margin-bottom: 74px;
      padding: 0;
    }

    .footer-desktop {
      display: block;
    }

    .footer-tablet-logo {
      display: none;
    }

    .social__list {
      margin-top: 75px;
    }

    .page-footer__copyright {
      margin-top: 81px;
      margin-bottom: 74px;
      padding-top: 0;
      padding-right: 10px;
    }

    .copyright__text {
      padding-left: 0;
      font-size: 18px;
    }
  }
}

.social__link:hover circle {
  opacity: 1;
}

.social__link:focus circle,
.social__link:active circle {
  opacity: 0.1;
}

.social__link:focus path,
.social__link:active path {
  fill-opacity: 0.3;
}

.page-footer__logo:hover path {
  fill: @strongpink;
}

.page-footer__logo:focus path,
.page-footer__logo:active path {
  fill-opacity: 0.3;
}

.copyright__logo:hover path {
  fill: @verydarkdesaturatedblue;
}

.copyright__logo:focus path,
.copyright__logo:active path {
  fill: rgba(40,54,69,30%);
}
