.proposal {
  margin-top: 46px;
  margin-bottom: 70px;
}

.proposal__wrapper {
  width: 280px;
  margin: 0 auto;

  .proposal__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 28.8px;
    color: @verydarkdesaturatedblue;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .proposal {
    margin-top: 58px;
  }

  .proposal__wrapper {
    width: 620px;
    margin: 0 auto;

    .proposal__text {
      margin: 0;
      font-size: 40px;
      line-height: 54px;
    }
 }
}

@media (min-width: @desktop-width) {
  .proposal {
    margin-top: 77px;
  }

  .proposal__wrapper {
    width: 940px;

    .proposal__text {
      font-size: 50px;
      line-height: 68px;
    }
  }
}

// Our__proposals

.our__proposals {
  background-color: @verylightgray;
}

.our-proposals__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 280px;
  margin: 0 auto;
  background:
  url(../img/gallery/page-main/proposal/mobile/iphonescreen.jpg) no-repeat 50% 550px,
  url(../img/gallery/page-main/proposal/mobile/iphone.png) no-repeat 50% 515px;

  .proposal__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

    .proposal__title {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    }

    .proposal__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }

    .proposal__item {
      text-align: center;
    }

    .proposal__item:last-child {
      padding-bottom: 325px;
    }
  }
}

@media (min-width: @tablet-width) {
  .our-proposals__wrapper {
    width: 620px;
    grid-template-columns: 1fr 1fr;
    background:
    url(../img/gallery/page-main/proposal/tablet/iphone-screen.jpg) no-repeat 5% 80px,
    url(../img/gallery/page-main/proposal/tablet/iphone.png) no-repeat 1% 15px;

    .proposal__list {
      grid-column-start: 2;
      grid-column-end: 4;

      .proposal__item {
        text-align: left;
      }

      .proposal__item:last-child {
        padding-bottom: 49px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .our-proposals__wrapper {
    width: 940px;
    grid-template-columns: 1fr;
    background:
    url(../img/gallery/page-main/proposal/desktop/iphone-screen1.jpg) no-repeat 9% 45px,
    url(../img/gallery/page-main/proposal/desktop/iphone1.png) no-repeat 8% 5px;

    .proposal__list {
      grid-column-start: 1;
      grid-column-end: 4;
      flex-direction: row;
      justify-content: space-around;

      .proposal__item {
        width: 300px;
        padding-top: 307px;
      }

      .proposal__item:last-child {
        padding-bottom: 0;
      }

      .proposal__title {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
      }

      .proposal__description {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}

// Research

.research {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .research {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 75px;

    .research__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 620px;
      margin: 0 auto;
      background:
      url(../img/timer/24.png) no-repeat 13% 140px,
      url(../img/timer/diagram-fill.png) no-repeat 4.6% 75px,
      url(../img/timer/timer.png) no-repeat 0.5% 20px;
    }

    .research-title__wrapper {
      grid-column-start: 2;
      grid-column-end: 4;
      margin-bottom: 50px;
    }

    .research__title {
      width: 168px;
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
    }

    .research__item {
      padding-left: 5px;
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }

    .research__larger {
      font-size: 14px;
      line-height: 24px;
      color: @strongpink;
    }
  }
}

@media (min-width: @desktop-width) {
  .research {
    background-color: @verylightgray;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;

    .research__wrapper {
      grid-template-columns: 1fr max-content;
      width: 940px;
      background:
      url(../img/timer-desktop/24.png) no-repeat 11% 180px,
      url(../img/timer-desktop/diagram-fill.png) no-repeat 3.7% 100px,
      url(../img/timer-desktop/timer.png) no-repeat 0.5% 30px;
    }

    .research-title__wrapper {
      width: 534px;
      margin-top: 115px;
      margin-bottom: 120px;
    }

    .research__title {
      width: auto;
      line-height: 30px;
    }

    .research__item {
      padding: 0;
      font-size: 18px;
      line-height: 30px;
    }

    .research__larger {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
