.page-main__download {
  color: @white;
  background:
    url(../../img/gallery/page-main/screen.jpg) no-repeat 104px 32px,
    url(../../img/gallery/page-main/phone.png) no-repeat;
  outline: 5px solid rgba(221, 208, 27, 0.932);
  outline-offset: -5px;

  .page-main__header-download {
    background-color: @verydarkblue;
    margin-top: 210px;
  }
}

.page-download {
  padding: 21px 38px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  background-color: @verydarkblue;
  color: @white;
  border: 3px solid @white;
  border-radius: 29px;
}

.page-download:hover {
  background-color: @white;
  color: @strongpink;
}

.page-download:focus,
.page-download:active {
  outline: none;
  background-color: @white;
  color: rgba(210,40,86,30%);
}

.page-main__list {
  list-style: none;
  padding: 0;
}

.header-download__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
