.page-header {
  background-image: url(../../img/gallery/header/mobile/back-mobile.jpg);
  background-repeat: no-repeat;
  background-position: 50% -5px;
  background-size: cover;
  color: @white;

  @media (min-width: @tablet-width) {
    background-image: url(../../img/gallery/header/tablet/back-tablet.jpg);
    background-position: 50% -5px;
    background-size: cover;
  }

  @media (min-width: @desktop-width) {
    background-image: url(../../img/gallery/header/desktop/back-desktop.jpg);
    background-position: 50% -5px;
    background-size: cover;
  }

  .page-header__background {
    background-color: fade(@black, 70%);
  }
}

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    flex-direction: row;
    width: 940px;
    height: 110px;
  }

  .main-nav__toogle {
    display: none;
  }
}

.page-header__logo {
  position: absolute;
  top: 2px;
  left: 0;
  z-index: 1;
  height: 23px;
  padding-left: 20px;
  padding-top: 22px;
  padding-bottom: 21px;
  text-decoration: none;

  .desktop-logo {
    display: none;
  }

  .header-logo {
    display: none;
  }

  .page-header__logo-image {
    padding-left: 10px;
  }

  @media (min-width: @tablet-width) {
    top: 3px;
    left: 0;
    height: 40px;
    padding-top: 27px;
    padding-bottom: 43px;

    .header-logo {
      display: inline-block;
    }
  }

  @media (min-width: @desktop-width) {
    position: static;
    height: 40px;

    .desktop-logo {
      display: inline-block;
    }

    .header-logo {
      display: none;
    }

    .page-header__logo-image {
      display: none;
    }
  }
}

.page-header__logo:hover path {
  fill: @strongpink;
}

.page-header__logo:focus path,
.page-header__logo:active path {
  fill: rgba(255,255,255,30%);
}

// Header__download

.header__download {
  color: @white;
  background:
  url(../../img/gallery/header/mobile/screen.jpg) no-repeat 50% 122px,
  url(../../img/gallery/header/mobile/phone.png) no-repeat 50% 90px;

  @media (min-width: @tablet-width) {
   height: 620px;
   background:
   url(../../img/gallery/header/tablet/screen.jpg) no-repeat 82.8% 125px,
   url(../../img/gallery/header/tablet/phone.png) no-repeat 50% 70px;
  }

  @media (min-width: @desktop-width) {
    height: 743px;
    background:
    url(../../img/gallery/header/desktop/screen.jpg) no-repeat 77.2% 190px,
    url(../../img/gallery/header/desktop/phone.png) no-repeat 20% 125px;
  }
}

.main__header-download {
  background-color: @verydarkblue;
  margin-top: 320px;
}

@media (min-width: @tablet-width) {
  .main__header-download {
    margin: 0;
    background-color: inherit;
  }
}

@media (min-width: @tablet-width) {
  .download-header__wrapper {
    width: 620px;
    margin: 0 auto;

    .page-download {
      margin-top: 39px;
      margin-bottom: 28px;
      padding: 21px 53.5px;
    }
  }
}

@media (min-width: @desktop-width) {
  .download-header__wrapper {
    width: 940px;

    .page-download {
      margin-top: 51px;
      margin-bottom: 49px;
      padding: 20px 38px;
      font-size: 21px;
    }

    .main__list {
      margin-bottom: 41px;
    }
  }
}

.title__wrapper {
  width: 280px;
  margin: 0 auto;

  .title {
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: @white;
  }
}

@media (min-width: @tablet-width) {
  .title__wrapper {
    width: 300px;
    margin: 0;
    padding-top: 102px;

    .title {
      margin: 0;
      font-size: 40px;
    }
  }
}

@media (min-width: @desktop-width) {
  .title__wrapper {
    width: 300px;
    padding-top: 114px;

    .title {
      font-size: 50px;
      line-height: 68px;
    }
  }
}

.main-list__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin: 0;

    .header-download__text {
      font-size: 18px;
      padding-bottom: 90px;
    }
  }

  @media (min-width: @desktop-width) {
    .header-download__text {
      padding-bottom: 100px;
    }
  }
}


.page-download {
  margin-top: 28px;
  margin-bottom: 20px;
  padding: 21px 43.5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  background-color: @verydarkblue;
  color: @white;
  border: 3px solid @white;
  border-radius: 29px;
}

.page-download:hover {
  background-color: @white;
  color: @strongpink;
}

.page-download:focus,
.page-download:active {
  outline: none;
  background-color: @white;
  color: rgba(210,40,86,30%);
}

.main__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
}

.main-list__item {
  justify-content: space-between;
}

.main-item__logo-image2,
.main-item__logo-image3 {
  padding-top: 5px;
}

.header-download__text {
  padding-bottom: 38px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

// Forms

.contest__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 51px;

  .contest__title {
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
  }
}

.contest__wrapper {
  @media (min-width: @tablet-width) {
    width: 616px;
    padding-top: 81px;
    padding-bottom: 74px;

    .contest__title {
      font-size: 50px;
      line-height: 68px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 936px;
    padding-top: 74px;
    padding-bottom: 104px;

    .contest__title {
      font-size: 50px;
      line-height: 68px;
    }
  }
}

// Catalog

.photos__wrapper-title {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 84px;

  .photos__title {
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
  }
}

.photos__wrapper-title {
  @media (min-width: @tablet-width) {
    width: 616px;
    padding-top: 81px;
    padding-bottom: 143px;

    .photos__title {
      font-size: 50px;
      line-height: 68px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 936px;
    padding-top: 74px;
    padding-bottom: 104px;

    .photos__title {
      font-size: 50px;
      line-height: 68px;
    }
  }
}
