.photos__gallery {
  display: flex;
  flex-direction: column;
}

.photos-text__wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;

  .photos__text {
    margin: 0;
    margin-top: 54px;
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: @verydarkdesaturatedblue;
  }
}

.photos-text__wrapper {
  @media (min-width: @tablet-width) {
   width: 620px;

   .photos__text {
     margin-top: 100px;
     margin-bottom: 85px;
     padding-left: 25px;
     padding-right: 25px;
     font-size: 18px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 940px;

    .photos__text {
      margin-bottom: 97px;
      padding-left: 150px;
      padding-right: 150px;
      font-size: 18px;
    }
  }
}

// Panorama

.photo-panorama__wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 0 auto;
  //background-image: url("../img/gallery/mobile/panorama-mobile.jpg");
  //background-repeat: no-repeat;
  /*@media (min-resolution: 2dppx) {
    background-image: url("../img/gallery/mobile/panorama-mobile@2x.jpg");
    background-size: 640px auto;
  }*/

  .photo__panorama {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 140px;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: @strongpink;
    color: @white;
  }

  .panorama__block {
    margin: 0;
    font-weight: bold;
    padding: 6px 0;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {

    .photo__panorama {
      top: 57px;
    }
  }

  @media (min-width: @desktop-width) {
    .photo__panorama {
      top: 54px;
      right: 130px;
    }
  }
}

// Big-photos__wrapper

.big-photos__wrapper {
  width: 280px;
  margin: 0 auto;

  .photos__comment {
    background-color: @verylightgray;
    color: @verydarkdesaturatedblue;
    line-height: 24px;
  }

  .comment__author-name {
    margin: 0;
    padding-top: 26px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
  }

  b {
    padding-left: 15px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 14px;
  }

  .comment__text {
    margin: 0;
    padding-left: 15px;
    font-weight: 400;
    font-size: 14px;
  }

  .comment__like {
    padding-left: 15px;
    padding-bottom: 26px;
    text-transform: uppercase;
    color: @strongpink;

    b {
      padding-left: 15px;
      font-weight: 400;
      font-size: 12px;
    }
  }
}

@media (min-width: @tablet-width) {
  .big-photos__wrapper {
   width: 620px;
   margin-bottom: 50px;

   .photos__comment {
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding-left: 15px;
     padding-bottom: 32px;

     .comment__text {
        grid-column-start: 1;
        grid-column-end: 3;
     }

     .conversely-comment__like {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: right;
      }

      .comment__like {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding-bottom: 0;

        img {
          grid-column-start: 2;
          grid-column-end: 3;
          padding-top: 5px;
          padding-left: 7px;
        }

        b {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
          padding-left: 0;
          padding-right: 5px;
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .big-photos__wrapper {
   width: 940px;
  }
}

.user__photos {
  margin-bottom: 20px;
}

// Photos__wrapper

.photos__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 15px;

  .user__photos {
    width: 280px;
  }

  .photos__comment {
    background-color: @verylightgray;
    color: @verydarkdesaturatedblue;
    line-height: 24px;
  }

  .comment__author-name {
    margin: 0;
    padding-top: 26px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
  }

  b {
    padding-left: 15px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 14px;
  }

  .comment__text {
    margin: 0;
    padding-left: 15px;
    font-weight: 400;
    font-size: 14px;
  }

  .comment__like {
    padding-left: 15px;
    padding-bottom: 26px;
    text-transform: uppercase;
    color: @strongpink;

    b {
      padding-left: 15px;
      font-weight: 400;
      font-size: 12px;
    }
  }
}

@media (min-width: @tablet-width) {
  .photos__wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   width: 620px;
   padding-bottom: 40px;

   .user__photos {
     width: 300px;
     margin: 0;
    }

   .photos__comment {
     display: grid;
     grid-template-columns: 1fr 1fr;
     width: 300px;

     .comment__author-name {
      grid-column-start: 1;
      grid-column-end: 3;
      padding-left: 30px;
      padding-right: 37px;

      b {
        padding-left: 0;
      }
     }

     .comment__text {
        grid-column-start: 1;
        grid-column-end: 3;
        padding-left: 30px;
        padding-right: 38px;
     }

     .conversely-comment__like {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-left: 15px;
      }

      .conversely-like {
        padding-top: 25px;
      }

      .comment__like {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding-bottom: 0;

        img {
          grid-column-start: 2;
          grid-column-end: 3;
          padding-top: 5px;
          padding-left: 30px;
          justify-self: center;
        }

        b {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
          padding-left: 0;
          padding-right: 5px;
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .photos__wrapper {
   width: 940px;
   grid-template-columns: 1fr 1fr 1fr;
   padding-top: 50px;
   padding-bottom: 34px;
  }
}

// User__circulation

.user__circulation {
  width: 280px;
  margin: 0 auto;

  .photos__text {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 34px;
  }

  @media (min-width: @tablet-width) {
    width: 620px;

    .photos__text {
      font-size: 18px;
      padding-bottom: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 940px;

    .photos__text {
      padding-bottom: 57px;
    }
  }
}
