.tariff {
  background-color: @verylightgray;
  text-transform: uppercase;
}

.tariff__description {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.tariff__number {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.cell {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
